<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kyawthanmong.cfsmart"

    >


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/cf_smart"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="kyawthanmong.cfsmart.controller.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kyawthanmong.cfsmart.controller.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="kyawthanmong.cfsmart.controller.MainActivity$TriggeredActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"
            android:taskAffinity="" >
        </activity>
        <activity
            android:name="kyawthanmong.cfsmart.controller.SurveyActivity"
            android:label="@string/title_activity_survey"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="kyawthanmong.cfsmart.Alarm.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

    </application>

</manifest>
